<!DOCTYPE html>
<html>
<head>
	<title>Pendaftaran Mercubuana</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/css/form.css"> <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome.min.css"> <!-- FA CSS -->

	<!-- Javascript -->
	<script type="text/javascript" src="../../assets/js/jquery.min.js"></script> <!-- jQuery -->
	<script type="text/javascript" src="../../assets/js/angular.min.js"></script> <!-- Angular JS -->
	<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->

</head>
<body>

	
	<section class="article">
		<div class="container art">
	    	<div class="row">
	    		<div class="logo">
	    			<img src="../../assets/img/logo.jpg" alt="logo">
	    		</div>

	    		<div class="title">Form Pendaftaran </br><b>Universitas Mercubuana</b></div>
	    		<div style="clear: both;">&nbsp;</div>
	    		<div style="clear: both;">&nbsp;</div>
	    		
	    		<form>
	    		
	    			<div class="col col-md-6">
		    			<div class="form-group">
		                    <label for="username" class="label-pendaftaran">Program Studi <span class="red">*</span></label>
		                    <select class="form-control">
		                    	<option value="D3 - Akuntansi">Silakan pilih Program Studi Pertama</option>
		                    	<option value="D3 - Akuntansi">D3 - Akuntansi</option>
		                    	<option value="D3 - Manajemen">D3 - Manajemen</option>
		                    	<option value="D3 - MICE">D3 - MICE</option>
		                    	<option value="Desain Interior">Desain Interior</option>
		                    	<option value="Desain Komunikasi Visual (DKV)">Desain Komunikasi Visual (DKV)</option>
		                    	<option value="Desain Produk">Desain Produk (Grafis &amp; Multimedia)</option>
		                    	<option value="Teknik Arsitektur">Teknik Arsitektur</option>
		                    	<option value="Teknik Elektro">Teknik Elektro</option>
		                    	<option value="Teknik Industri">Teknik Industri</option>
		                    	<option value="Teknik Mesin">Teknik Mesin</option>
		                    	<option value="Teknik Sipil">Teknik Sipil</option>
		                    	<option value="Akuntansi">Akuntansi</option>
		                    	<option value="Manajemen">Manajemen</option>
		                    	<option value="Broadcast">Broadcast</option>
		                    	<option value="Digital ">Digital Communication (DIGICOMM)</option>
		                    	<option value="(MARCOMM)">Marketing Communication &amp; Advertising (MARCOMM)</option>
		                    	<option value="Public Relation (PR)">Public Relation (PR)</option>
		                    	<option value="Sistem Informasi">Sistem Informasi</option>
		                    	<option value="Teknik Informatika">Teknik Informatika</option>
		                    	<option value="Psikologi">Psikologi</option>
		                    </select>
		                </div> 
	                </div>
	                <div class="col col-md-6">
		    			<div class="form-group">
		                    <label for="username" class="label-pendaftaran">Program Studi</label>
		                    <select class="form-control">
		                    	<option value="D3 - Akuntansi">Silakan pilih Program Studi Kedua</option>
		                    	<option value="D3 - Akuntansi">D3 - Akuntansi</option>
		                    	<option value="D3 - Manajemen">D3 - Manajemen</option>
		                    	<option value="D3 - MICE">D3 - MICE</option>
		                    	<option value="Desain Interior">Desain Interior</option>
		                    	<option value="Desain Komunikasi Visual (DKV)">Desain Komunikasi Visual (DKV)</option>
		                    	<option value="Desain Produk">Desain Produk (Grafis &amp; Multimedia)</option>
		                    	<option value="Teknik Arsitektur">Teknik Arsitektur</option>
		                    	<option value="Teknik Elektro">Teknik Elektro</option>
		                    	<option value="Teknik Industri">Teknik Industri</option>
		                    	<option value="Teknik Mesin">Teknik Mesin</option>
		                    	<option value="Teknik Sipil">Teknik Sipil</option>
		                    	<option value="Akuntansi">Akuntansi</option>
		                    	<option value="Manajemen">Manajemen</option>
		                    	<option value="Broadcast">Broadcast</option>
		                    	<option value="Digital ">Digital Communication (DIGICOMM)</option>
		                    	<option value="(MARCOMM)">Marketing Communication &amp; Advertising (MARCOMM)</option>
		                    	<option value="Public Relation (PR)">Public Relation (PR)</option>
		                    	<option value="Sistem Informasi">Sistem Informasi</option>
		                    	<option value="Teknik Informatika">Teknik Informatika</option>
		                    	<option value="Psikologi">Psikologi</option>
		                    </select>
		                </div> 
	                </div>

	                <div class="separate"></div>

	                <div class="form-title">I. Data Diri</div>
	                <p>Isikan data diri Anda dengan benar.</p>

					<div class="col col-md-6">
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nama Lengkap <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nomor Kartu Identitas </label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Jenis Kartu Identitas </label>
		                    <div style="margin-top: 2px;"></div>
		                    <input type="checkbox" name="vehicle" value="Kartu Pelajar"> Kartu Pelajar
  							<input type="checkbox" class="cbox" name="vehicle" value="SIM"> SIM 
  							<input type="checkbox" class="cbox"  name="vehicle" value="KTP"> KTP
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Marial Status <span class="red">*</span></label>
		                    <div style="margin-top: 2px;"></div>
		                    <input type="radio" name="mariage" value="Belum Menikah"> Belum Menikah
  							<input type="radio" class="cbox" name="mariage" value="Menikah"> Menikah </br>
  							<input type="radio"   name="mariage" value="Janda"> Janda
  							<input type="radio" class="cbox" style="margin-left: 69px !important;"  name="mariage" value="Duda"> Duda
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Email <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Handphone<span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Tempat Lahir <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Tanggal Lahir <span class="red">*</span></label>
		                    <input type="date" name="name" class="form-control">
		                </div> 
		                
		               
		                
		               
	                </div>

	                <div class="col col-md-6">
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Alamat Rumah <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nomor Rumah</label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Jenis Kelamin <span class="red">*</span></label>
		                    <div style="margin-top: 2px;"></div>
		                    <input type="radio" name="vehicle" value="Kartu Pelajar"> Laki - Laki
  							<input type="radio" class="cbox" name="vehicle" value="SIM"> Perempuan
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Agama <span class="red">*</span></label>
		                    <div style="margin-top: 2px;"></div>
		                    <input type="radio" name="agama" value="Kartu Pelajar"> Islam
  							<input type="radio" class="cbox" style="margin-left: 25px !important;" name="agama" value="SIM"> Katholik
  							<input type="radio" class="cbox" name="agama" value="SIM"> Protestan </br>
  							<input type="radio" name="vehicle" value="SIM"> Buddha 
  							<input type="radio" class="cbox" name="agama" value="SIM"> Hindu
  							<input type="radio" class="cbox" style="margin-left: 23px !important;" name="agama" value="SIM"> Kong Hu Cu
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Kelurahan</label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Kecamatan</label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Kota Madya / Kabupaten</label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		               
		                <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Kode Pos <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
	                </div>

					<div class="separate"></div>
					<div class="form-title">II. Latar Belakang Pendidikan</div>
					<p>Isikan latar belakang pendidikan Anda</p>


		            <div class="col col-md-6">
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nama Sekolah / Universitas Asal <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Tahun Masuk <span class="red">*</span></label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Tahun Lulus <span class="red">*</span></label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		            </div>    
					 <div class="col col-md-6">
					  <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Alamat Sekolah <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Jurusan <span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nilai Rata-rata / IPK <span class="red">*</span></label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		                
		            </div>    

		            <div class="separate"></div>
					<div class="form-title">III. Data Orang Tua / Wali</div>
					<p>Isikan data Orang Tua / Wali Anda</p>


		            <div class="col col-md-6">
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nama Ayah<span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                 </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Handphone <span class="red">*</span></label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Pekerjaan Ayah <span class="red">*</span></label>
		                    <select class="form-control" name="pekerjaan_ayah">
		                    	<option value="PNS"  >Please Select</option>
		                    	<option value="PNS"  >PNS</option>
		                    	<option value="Pegawai Swasta"  >Pegawai Swasta</option>
		                    	<option value="Guru"  >Guru</option>
		                    	<option value="Dosen"  >Dosen</option>
		                    	<option value="POLRI"  >POLRI</option>
		                    	<option value="TNI"  >TNI</option>
		                    	<option value="Wirausaha"  >Wirausaha</option>
		                    	<option value="Wiraswasta"  >Wiraswasta</option>
		                    	<option value="Lain-lain"  >Lain-lain</option>
		                    </select>
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Pendidikan Ayah <span class="red">*</span></label>
		                    <select class="form-control" name="pendidikan_ayah">
		                    	<option value="SD / SR"  >Please Select</option>
		                    	<option value="SD / SR"  >SD / SR</option>
		                    	<option value="SMP / MTs"  >SMP / MTs</option>
		                    	<option value="SMU / MA"  >SMU / MA</option>
		                    	<option value="Sarjana (S1)"  >Sarjana (S1)</option>
		                    	<option value="Master (S2)"  >Master (S2)</option>
		                    	<option value="Doktor (S3)"  >Doktor (S3)</option>
		                    	<option value="Professor"  >Professor</option>
		                    </select>
		                    
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Penghasilan Orang Tua <span class="red">*</span></label>
		                    <select class="form-control" name="pekerjaan_ibu">
		                        <option value="PNS"  >Please Select</option>
		                    	<option value="1 - 3 Juta"  >1 - 3 Juta</option>
		                    	<option value="3 - 5 Juta"  >3 - 5 Juta</option>
		                    	<option value="5 - 10 Juta"  >5 - 10 Juta</option>
		                    	<option value="Lebih dari 10 Juta"  >Lebih dari 10 Juta</option>
		                    </select>
		                </div> 
		            </div>   

		            <div class="col col-md-6">
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Nama Ibu<span class="red">*</span></label>
		                    <input type="text" name="name" class="form-control">
		                 </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Handphone <span class="red">*</span></label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Pekerjaan Ibu <span class="red">*</span></label>
		                    <select class="form-control" name="pekerjaan_ibu">
		                        <option value="PNS"  >Please Select</option>
		                    	<option value="Ibu Rumah Tangga"  >Ibu Rumah Tangga</option>
		                    	<option value="PNS"  >PNS</option>
		                    	<option value="Pegawai Swasta"  >Pegawai Swasta</option>
		                    	<option value="Guru"  >Guru</option>
		                    	<option value="Dosen"  >Dosen</option>
		                    	<option value="POLRI"  >POLRI</option>
		                    	<option value="TNI"  >TNI</option>
		                    	<option value="Wirausaha"  >Wirausaha</option>
		                    	<option value="Wiraswasta"  >Wiraswasta</option>
		                    	<option value="Lain-lain"  >Lain-lain</option>
		                    </select>
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Pendidikan Ibu <span class="red">*</span></label>
		                    
		                     <select class="form-control" name="pendidikan_ayah">
		                    	<option value="SD / SR"  >Please Select</option>
		                    	<option value="SD / SR"  >SD / SR</option>
		                    	<option value="SMP / MTs"  >SMP / MTs</option>
		                    	<option value="SMU / MA"  >SMU / MA</option>
		                    	<option value="Sarjana (S1)"  >Sarjana (S1)</option>
		                    	<option value="Master (S2)"  >Master (S2)</option>
		                    	<option value="Doktor (S3)"  >Doktor (S3)</option>
		                    	<option value="Professor"  >Professor</option>
		                    </select>
		                </div> 
		                 <div class="form-group">
		                    <label for="username" class="label-pendaftaran">Jumlah Tanggungan Orang Tua </label>
		                    <input type="number" name="name" class="form-control">
		                </div> 
		            </div>  
		            <div class="separate"></div>
		            <div class="persetujuan">
		            	<div class="col col-md-12">
	                    <input type="checkbox" ng-model="checked" ng-init="checked=true" > Demikian data ini saya isi dengan sebenarnya dan dapat dipertanggung jawabkan dan dengan ini saya juga menyetujui Syarat dan Ketentuan yang berlaku di  Universitas Mercu Buana.
	                    </div>
	                </div> 
	                <div class="separate"></div>
	                <div class="col col-md-12" style="text-align: center;">
						<input type="submit" ng-if="checked" class="btn-form" value="SUBMIT">
					</div>
		        </form>
	    	</div>
		</div>
	</section>

</body>
</html>
