<div id="breadcrumb">
	<div id="breadcrumb-inner">
		<img src="assets/img/mercu-transparent.png" alt="logo mercu-transparent">
		<div class="title">Pendaftaran / S1</div>
	</div>
</div>

<section class="article">
	<div class="container art">
    	<div class="row">
    		<div class="title">Biaya Pendaftaran Mahasiswa Baru Kelas Reguler</div>
    		<table class="table table-responsive table-striped">
    			<tr>
    				<th>Program Kelas</th>
    				<th>Biaya</th>
    			</tr>
    			<tr>
    				<td>Program Diploma (D3)</td>
    				<td>Rp. 250.000,-</td>
    			</tr>
    			<tr>
    				<td>Program Sarjana (S1)</td>
    				<td>Rp. 250.000,-</td>
    			</tr>
    			<tr>
    				<td>Program Pasca Sarjana (S2)</td>
    				<td>Rp. 300.000,-</td>
    			</tr>
    			<tr>
    				<td>Program Doktor Manajemen (S3)</td>
    				<td>Rp. 500.000,-</td>
    			</tr>
    		</table>

    		<div style="clear: both;">&nbsp;</div>
			<div class="title">Jadwal Pendaftaran</div>
			<div style="clear: both;">&nbsp;</div>
			<b>Jadwal Pendaftaran Mahasiswa Baru terdiri dari 2 Periode :</b>
			<ul>
				<li>Periode 1 Oktober 2016 – April 2017</li>
				<li>Periode 2 Mei 2017 – Agustus 2017</li>
			</ul>
			
			<div style="clear: both;">&nbsp;</div>
			<b>Kuliah Perdana</b>
			<ul>
				<li>September 2017</li>
			</ul>

			<div style="clear: both;">&nbsp;</div>

			<b>Waktu Pendaftaran</b>
			<ul>
				<li>Senin – Minggu: 08.00 – 17.00 WIB</li>
			</ul>
			<span class="red">*</span><span style="font-size: 12px;">Kecuali Hari Libur Nasional</span>

			<div style="clear: both;">&nbsp;</div>

			<b>Tempat Pendaftaran</b>
			<ul>
				<li>Kampus Meruya: Jl. Meruya Selatan, Kembangan – Jakarta 11650</li>
				<li>Kampus Cibubur: Jl. Raya Kranggan No. 6 Jatisampurna – Bekasi</li>
			</ul>
			
    	</div>
	</div>
</section>