<div id="breadcrumb">
	<div id="breadcrumb-inner">
		<img src="assets/img/mercu-transparent.png" alt="logo mercu-transparent">
		<div class="title">Pendaftaran / Syarat Pendaftaran</div>
	</div>
</div>

<section class="article">
	<div class="container art">
    	<div class="row">
    		<div class="title">Persyaratan Untuk Mahasiswa Baru Kelas Reguler</div>
    		<div style="clear: both;">&nbsp;</div>
    		<ul>
    			<li>Mengisi Formulir Pendaftaran</li> 
				<li>Membayar Biaya Pendaftaran</li> 
				<li>Menyerahkan Foto Copy Raport Semester 1 – 5</li>
			</ul>

			<div style="clear: both;">&nbsp;</div>
			<div class="title">Persyaratan Untuk Mahasiswa Pindahan</div>
			<div style="clear: both;">&nbsp;</div>

			<ul>
				<li>Mengisi Formulir Pendaftaran.</li>
				<li>Membayar Biaya Pendaftaran.</li>
			<li>Menyerahkan Transkrip Nilai selama kuliah di 
			Universitas Asal.</li>
			<li>Menyerahkan Surat Pindah dari Universitas Asal</li>
			<li>Menyerahkan Laporan PDPT / Forlap DIKTI (bisa dilihat di: forlap.dikti.go.id)</li>

			</ul>

			<div style="clear: both;">&nbsp;</div>
			<div class="title">Persyaratan Daftar Ulang / Her-Registerasi</div>
			<div style="clear: both;">&nbsp;</div>
			<ul>
			<li>Telah membayar biaya pendidikan di Bank BNI 46 sesuai jumlah yang telah ditentukan.
			Melamirkan 3 lembar fotokopi Ijazah & SKHUN/Transkrip Nilai yang telah dilegalisir dan cap basah dari sekolah.</li>
			<li>Melampirkan bukti terdaftar Nomor Induk Siswa Nasional (NISN) yang terdapat pada http://nisn.data.kemdikbud.go.id</li>
			<li>Melampirkan 1 lembar fotokopi Kartu Keluarga (KK), Kartu Tanda Penduduk (KTP)/Kartu Pelajar dan Kartu Tanda Penduduk (KTP) Orang tua/wali.</li>
			<li>Melampirkan Surat Keterangan Sehat & Surat Keterangan Bebas Tattoo.</li>
			<li>Melampirkan Surat Keterangan Bebas Narkoba dari Rumah Sakit Umum / Rumah Sakit Ketergantungan Obat.</li>
			<li>Melampirkan Surat Keterangan tidak Buta Warna bagi Calon Mahasiswa Jurusan; Desain, Broadcasting & Teknik Arsitektur.</li>
			<li>Melampirkan Surat Keterangan Catatan Kepolisian (SKCK).</li>
			<li>Melampirkan Pas Foto ukuran 3×4 sebanyak 5 lembar dengan ketentuan;
				<ul>
					<li>Wanita: Background biru</li>
					<li>Pria: Background merah</li>
				</ul>
			</li>
			<li>Menandatangani surat perjanjian studi, yaitu;
				<ul>
					<li>Kewajiban dan Sanksi Akademik Kemahasiswaan</li>
					<li>Kewajiban mengikuti atau melampirkan 8 (Delapan) sertifikat seminar internal yang diperoleh selama masa studi</li>
					<li>Kewajiban memperoleh Kompeteni Bahasa Inggris minimum skor TOEFL 450 dan TOEIC 550 standar LIA-UMB atau lembaga penyelenggara lain sederajat seperti; English First dan Pusat Layanan Tes Indonesia (PLTI) untuk Program Sarjana</li>
					<li>Mengisi biodata dan formulir pembukaan rekening BNI yang telah disediakan diruang pendaftaran.</li>
				</ul>
			</li>
			
			<ul>
    	</div>
	</div>
</section>