<script>
    $(function () {

      $("#slider2").responsiveSlides({
        auto: true,
        pager: true,
        speed: 500,
        maxwidth: 780
      });
    });
</script>

<section id="slider">
	<img style="position: absolute;" src="assets/img/bg-slide.png" alt="bg-slide">
	<img style="position: absolute; bottom: 0px; right: 0;" src="assets/img/bg-slide2.png" alt="bg-slide">

	<div class="container">
		<div class="row" id="slider-me">
			<div class="col-lg-8 col-md-8 col-sm-12 left" id="slide">
			    <ul class="rslides" id="slider2">
			      <li><a href="#"><img src="assets/img/slider/1.png" alt=""></a></li>
            <li><a href="#"><img src="assets/img/slider/2.png" alt=""></a></li>
			    </ul>
		    </div>

		    <div class="col-lg-4 col-md-4 col-sm-12 left">
	         <div id="login-box">
              <h4 class="border-bottom">Join Mercubuana</h4>
              <form>
                 <div class="form-group" style="margin-top: 10px;">
                    <label for="username" class="label">Username</label>
                    <input style="margin-top: 2px;" type="text" class="form-control" ng-model="name">
                </div> 
                <div class="form-group">
                    <label for="username" class="label">Password</label>
                    <input style="margin-top: 2px;" type="password" class="form-control" ng-model="name">
                </div> 
                 <div class="form-group" >
                    <input style="margin-top: 17px;" type="button" class="btn green" value="Login">
                </div> 
                <p style="text-align: center; color: #888;">- OR - </p>
                <div class="form-group" style="margin-bottom: 0;">
                    <input style="margin-top: 2px;" type="button" class="btn blue" value="Create Account">
                </div> 
              </form>
           </div>
		    </div>
	    </div>
	</div>
	
</div>
</section>

<section id="gelombang-pendaftaran">
  <div class="container">
    <div class="row">

        <div class="head-title">Gelombang Pendaftaran</div>
        <div id="gelombang-reguler-1" class="gelombang-wave">

            <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel">
                <div class="gel-date">
                  <span class="gel-date-number">5</span> </br>
                  <span style="font-size: 18px;"> <b>Apr</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang I</div>
                  <div class="gel-info-class">Reguler 1</div>
                  <div class="gel-info-date">5 April - 7 Mei</div>
                </div>

                <div class="flag past">PAST</div>
              </div>
            </div>

             <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel gel-open">
                <div class="gel-date">
                  <span class="gel-date-number">8</span> </br>
                  <span style="font-size: 18px;"> <b>Jul</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang II</div>
                  <div class="gel-info-class">Reguler 1</div>
                  <div class="gel-info-date">8 Juli - 9 Agustus</div>
                </div>

                <div class="flag now">OPEN</div>
              </div>
             </div>

            <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel">
                <div class="gel-date">
                  <span class="gel-date-number">10</span> </br>
                  <span style="font-size: 18px;"> <b>Oct</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang III</div>
                  <div class="gel-info-class">Reguler 1</div>
                  <div class="gel-info-date">10 Oktober - 12 November</div>
                </div>

                <div class="flag past">SOON</div>
              </div>
            </div>

         </div>

         <div id="gelombang-reguler-2" class="gelombang-wave">

            <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel">
                <div class="gel-date">
                  <span class="gel-date-number">6</span> </br>
                  <span style="font-size: 18px;"> <b>Apr</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang I</div>
                  <div class="gel-info-class">Reguler 2</div>
                  <div class="gel-info-date">6 April - 7 Mei</div>
                </div>

                <div class="flag past">PAST</div>
              </div>
            </div>

             <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel gel-open">
                <div class="gel-date">
                  <span class="gel-date-number">9</span> </br>
                  <span style="font-size: 18px;"> <b>Jul</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang II</div>
                  <div class="gel-info-class">Reguler 2</div>
                  <div class="gel-info-date">9 Juli - 12 Agustus</div>
                </div>

                <div class="flag now">OPEN</div>
              </div>
             </div>

            <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel">
                <div class="gel-date">
                  <span class="gel-date-number">10</span> </br>
                  <span style="font-size: 18px;"> <b>Oct</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang III</div>
                  <div class="gel-info-class">Reguler 2</div>
                  <div class="gel-info-date">10 Oktober - 12 November</div>
                </div>

                <div class="flag past">SOON</div>
              </div>
            </div>

        </div>

         <div id="gelombang-beasiswa" class="gelombang-wave">

            <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel">
                <div class="gel-date">
                  <span class="gel-date-number">10</span> </br>
                  <span style="font-size: 18px;"> <b>Feb</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang I</div>
                  <div class="gel-info-class">Jalur Beasiswa</div>
                  <div class="gel-info-date">10 February - 10 March</div>
                </div>

                <div class="flag past">PAST</div>
              </div>
            </div>

             <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel ">
                <div class="gel-date">
                  <span class="gel-date-number">2</span> </br>
                  <span style="font-size: 18px;"> <b>Apr</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang II</div>
                  <div class="gel-info-class">Jalur Beasiswa</div>
                  <div class="gel-info-date">2 April - 7 Mei</div>
                </div>

                <div class="flag past">PAST</div>
              </div>
             </div>

            <div class="col-lg-4 col-md-4 col-sm-6 left">
              <div class="gel gel-open">
                <div class="gel-date">
                  <span class="gel-date-number">7</span> </br>
                  <span style="font-size: 18px;"> <b>Jul</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang III</div>
                  <div class="gel-info-class">Jalur Beasiswa</div>
                  <div class="gel-info-date">7 Juli - 12 Agustus</div>
                </div>

                <div class="flag now">OPEN</div>
              </div>
            </div>

        </div>

        <div id="gelombang-open" class="gelombang-hidden">

            <div class="col-lg-4 col-md-4 col-sm-4 left">
              <div class="gel gel-open">
                <div class="gel-date">
                  <span class="gel-date-number">8</span> </br>
                  <span style="font-size: 18px;"> <b>Jul</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang II</div>
                  <div class="gel-info-class">Reguler 1</div>
                  <div class="gel-info-date">8 Juli - 9 Agustus</div>
                </div>

                <div class="flag now">OPEN</div>
              </div>
             </div>

             <div class="col-lg-4 col-md-4 col-sm-4 left">
              <div class="gel gel-open">
                <div class="gel-date">
                  <span class="gel-date-number">9</span> </br>
                  <span style="font-size: 18px;"> <b>Jul</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang II</div>
                  <div class="gel-info-class">Reguler 2</div>
                  <div class="gel-info-date">9 Juli - 12 Agustus</div>
                </div>

                <div class="flag now">OPEN</div>
              </div>
             </div>

            <div class="col-lg-4 col-md-4 col-sm-4 left">
              <div class="gel gel-open">
                <div class="gel-date">
                  <span class="gel-date-number">7</span> </br>
                  <span style="font-size: 18px;"> <b>Jul</b></span> </br> 
                  2017
                </div>
                <div class="gel-info">
                  <div class="gel-info-title">Gelombang III</div>
                  <div class="gel-info-class">Jalur Beasiswa</div>
                  <div class="gel-info-date">7 Juli - 12 Agustus</div>
                </div>

                <div class="flag now">OPEN</div>
              </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 view-all">
          <a href="#">View All</a>
        </div>
    </div>
  </div>
</section>

<section id="alumni-section" class="dark">
  <div class="container">
    <div class="row">

        <div class="head-title">What The Alumni Said</div>
        <div id="alumni">
            <div class="col-lg-3 col-md-3 col-sm-6 left alumni-list">
              <figure>
                <img src="assets/img/alumni/3.jpg">
              </figure>
              <div class="alumi-description">
                Sebagai mahasiswa kelas 
                international saya sangat puas 
                dengan fasilitas yang diberikan ke 
                saya sampai kepada program 
                double degree ke china
              </div>
              <div class="alumi-name">- Andre</div>
            </div>

             <div class="col-lg-3 col-md-3 col-sm-6 left alumni-list">
              <figure>
                <img src="assets/img/alumni/2.jpeg">
              </figure>
              <div class="alumi-description">
                Sebagai mahasiswa kelas 
                international saya sangat puas 
                dengan fasilitas yang diberikan ke 
                saya sampai kepada program 
                double degree ke china
              </div>
              <div class="alumi-name">- Jhon</div>
            </div>

             <div class="col-lg-3 col-md-3 col-sm-6 left alumni-list">
              <figure>
                <img src="assets/img/alumni/4.jpg">
              </figure>
              <div class="alumi-description">
                Sebagai mahasiswa kelas 
                international saya sangat puas 
                dengan fasilitas yang diberikan ke 
                saya sampai kepada program 
                double degree ke china
              </div>
              <div class="alumi-name">- Laelnaldi</div>
            </div>

             <div class="col-lg-3 col-md-3 col-sm-6 left alumni-list">
              <figure>
                <img src="assets/img/alumni/1.png">
              </figure>
              <div class="alumi-description">
                Sebagai mahasiswa kelas 
                international saya sangat puas 
                dengan fasilitas yang diberikan ke 
                saya sampai kepada program 
                double degree ke china
              </div>
              <div class="alumi-name">- Shella</div>
            </div>
        </div>
    </div>
  </div>
</section>

<section id="achievement-section">
  <div class="container">
    <div class="row">

        <div class="head-title">Our Achievement</div>
         <div id="achievement">

            <div class="col-lg-3 col-md-3 col-sm-6 left achievement-list">
              <figure>
                <img src="assets/img/achievement/1.jpeg">
              </figure>
              <div class="achievement-competition">
                IWIC 10 Indosat Ooredoo
              </div>
              <div class="achievement-date">
                Maret 14, 2016
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 left achievement-list">
              <figure>
                <img src="assets/img/achievement/2.jpg">
              </figure>
              <div class="achievement-competition">
                Asean Skills Competition
              </div>
              <div class="achievement-date">
                June 21, 2016
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 left achievement-list">
              <figure>
                <img src="assets/img/achievement/3.jpg">
              </figure>
              <div class="achievement-competition">
                IWIC 10 Indosat Ooredoo
              </div>
              <div class="achievement-date">
                Maret 14, 2016
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 left achievement-list">
                <div class="achievement-view-all">
                  <img src="assets/img/achievement/trophy.png">
                </div>
                <a href="#">View All</a>
            </div>

        </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">

        <div class="logof"><img src="assets/img/logo.jpg" alt="logo"></div>
        <div class="contact-title">Hi, Future student ! </div>
        <div class="contact-low">Let us know your question </div>

        <form id="contact-form">
            <div class="form-group col col-sm-6" style="margin-top: 10px;">
                <label for="username" class="label white">Nama <span style="color: red">*</span></label>
                <input style="margin-top: 2px;" type="text" class="form-control" ng-model="nama">
            </div> 

            <div class="form-group col col-sm-6" style="margin-top: 10px;">
                <label for="username" class="label white">Email <span style="color: red">*</span></label>
                <input style="margin-top: 2px;" type="text" class="form-control" ng-model="email">
            </div> 

            <div class="form-group col col-sm-6" style="margin-top: 10px;">
                <label for="username" class="label white">No Hp <span style="color: red">*</span></label>
                <input style="margin-top: 2px;" type="text" class="form-control" ng-model="hp">
            </div> 

            <div class="form-group col col-sm-6" style="margin-top: 10px;">
                <label for="username" class="label white">Asal Sekolah <span style="color: red">*</span></label>
                <input style="margin-top: 2px;" type="text" class="form-control" ng-model="sekolah">
            </div> 

            <div class="form-group col col-sm-12" style="margin-top: 10px;">
                <label for="username" class="label white">Question <span style="color: red">*</span></label>
                <textarea style="margin-top: 2px;" name="question" ng-model="question" class="form-control" rows="5"></textarea>
                
            </div> 
            <div class="col col-sm-12" style="text-align: center;">
              <input type="submit" class="btn-submit" value="Submit">
            </div>
        </form>
    </div>
  </div>
</section>


