*	{	
	margin:0;
	padding:0;
	text-decoration:none;
}
body {
	background: #f1f1f1;
	font-family: helvetica;
}
ul {
	margin-bottom: 0;
}
li {
	list-style-type: none;
}
header .header-logo {
	height: 48px;
	width: auto;
	float: left;
}

header .header-logo img {
	height: 100%;
	width: auto;
}

header .title-logo {
	float: left;
	margin-top: 6px;
	margin-left: 10px;
}

header .title-logo span {
	font-size: 12px;
}

header .title-logo p {
	margin-top: -2px;
	margin-bottom: 0;
}

header .header-menu {
	float: right;
	width: auto;
}

header .header-menu ul {
	margin-bottom: 0;
}

header .header-menu ul li {
	display: inline-block;
	margin-left: 6px;
	padding: 15px 10px;
}

header { 
	position:relative;
	width:100%;
	background:#1E88E5;
}
header .top {
	background: #ffffff;
	padding: 8px 10px;
}
.display-none {
	display: none ;
}
.input {
	padding: 7px 10px 6px 10px;
	width: 220px;
	font-size: 12px;
	border: 1px solid #a1a1a1;
}
.logo {
	position:relative;
	z-index:123;
	padding:10px;
	font:18px verdana;
	color:#6DDB07;
	float:left;
	width:15%
}
.logo a {
	color:#FFFFFF;
}
nav { 
	position:relative;
	width:720px;
	margin:0 auto;
	z-index: 99999 !important;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile { 
	border:0;
	list-style:none;
	line-height:1;
	display:block;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#cssmenu:after, #cssmenu > ul:after { 
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}
#cssmenu #head-mobile { 
	display:none
}
#cssmenu { 
	font-family:helvetica;
	background:#1E88E5
}
#cssmenu > ul > li { 
	float:left
}
#cssmenu > ul > li > a {
	padding:17px 24px;
	font-size:12px;
	letter-spacing:1px;
	text-decoration:none;
	color:#FFFFFF;
}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a { 
	color:#fff
}
#cssmenu > ul > li:hover, 
#cssmenu ul li.active:hover, 
#cssmenu ul li.active, 
#cssmenu ul li.has-sub.active:hover {
	background:#1976D2!important;
	-webkit-transition:background .3s ease;
	-ms-transition:background .3s ease;
	transition:background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
	padding-right:30px
}
#cssmenu > ul > li.has-sub > a:after {
	position:absolute;
	top:22px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#ddd;
	content:''
}
#cssmenu > ul > li.has-sub > a:before {
	position:absolute;
	top:19px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#ddd;
	content:'';
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	transition:all .25s ease
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top:23px;
	height:0
}
#cssmenu ul ul {
	position:absolute;
	left:-9999px
}
#cssmenu ul ul li { 
	height:auto;
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	background:#01579B;
	transition:all .25s ease
}
#cssmenu li:hover > ul {
	left:auto
}
#cssmenu li:hover > ul > li {
	min-height:35px
}
#cssmenu ul ul ul {
	margin-left:100%;
	top:0
}
#cssmenu ul ul li a {
	border-bottom:1px solid rgba(150,150,150,0.15);
	padding:11px 15px;
	width:170px;
	font-size:12px;
	text-decoration:none;
	color:#ddd;
	font-weight:400;
}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a { 
	border-bottom:0
}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover {
	color:#fff
}
#cssmenu ul ul li.has-sub > a:after {
	position:absolute;
	top:16px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#ddd;
	content:''
}
#cssmenu ul ul li.has-sub > a:before {
	position:absolute;
	top:13px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#ddd;
	content:'';
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	transition:all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top:17px;height:0
}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background:#01579B;
}
#cssmenu ul ul ul li.active a {
	border-left:1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top:1px solid #333
}
.red {
	color: red;
}

@media screen and (max-width:835px){
	.logo { 
		position:absolute;
		top:0;
		left: 0;
		width:100%;
		height:46px;
		text-align:center;
		padding:10px 0 0 0 ;
		float:none
	}
	.logo2 { 
		display:none
	}
	.display-none {
		display: block;
	}
	nav { 
		width:100%;
	}
	#cssmenu {
		width:100%; 
		z-index: 9999;
	}
	#cssmenu ul {
		width:100%;
		display:none
	}
	#cssmenu ul li {
		width:100%;
		border-top:1px solid #62A6E2
	}
	#cssmenu ul ul li {
		width:100%;
		border-top:1px solid #0B69B2
	}
	#cssmenu ul li:hover {
		background:#363636;
	}
	#cssmenu ul ul li, #cssmenu li:hover > ul > li {
		height:auto
	}
	#cssmenu ul li a, #cssmenu ul ul li a {
		width:100%;
		border-bottom:0
	}
	#cssmenu > ul > li {
		float:none
	}
	#cssmenu ul ul li a {
		padding-left:25px
	}
	#cssmenu ul ul li {
		background:#01579B!important;
	}
	#cssmenu ul ul li:hover {
		background:#01579B!important
	}
	#cssmenu ul ul ul li a {
		padding-left:35px
	}
	#cssmenu ul ul li a {
		color:#ddd;
		background:none
	}
	#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
		color:#fff
	}
	#cssmenu ul ul, #cssmenu ul ul ul {
		position:relative;
		left:0;
		width:100%;
		margin:0;
		text-align:left
	}
	#cssmenu > ul > li.has-sub > a:after, 
	#cssmenu > ul > li.has-sub > a:before, 
	#cssmenu ul ul > li.has-sub > a:after,
	#cssmenu ul ul > li.has-sub > a:before {
		display:none
	}
	#cssmenu #head-mobile {
		display:block;
		padding:23px;
		color:#ddd;
		font-size:12px;
		font-weight:700
	}

	.button {
		width:55px;
		height:46px;
		position:absolute;
		right:0;
		top:0;
		cursor:pointer;
		z-index: 12399994;
	}
	.button:after {
		position:absolute;
		top:22px;
		right:20px;
		display:block;
		height:4px;
		width:20px;
		border-top:2px solid #dddddd;
		border-bottom:2px solid #dddddd;
		content:''
	}
	.button:before {
		-webkit-transition:all .3s ease;
		-ms-transition:all .3s ease;
		transition:all .3s ease;
		position:absolute;
		top:16px;
		right:20px;
		display:block;
		height:2px;
		width:20px;
		background:#ddd;
		content:''
	}
	.button.menu-opened:after {
		-webkit-transition:all .3s ease;
		-ms-transition:all .3s ease;
		transition:all .3s ease;
		top:23px;
		border:0;
		height:2px;
		width:19px;
		background:#fff;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg)
	}
	.button.menu-opened:before {
		top:23px;
		background:#fff;
		width:19px;
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		transform:rotate(-45deg)
	}
	#cssmenu .submenu-button {
		position:absolute;
		z-index:99;
		right:0;
		top:0;
		display:block;
		border-left:1px solid #62A6E2;
		height:46px;
		width:46px;
		cursor:pointer
	}
	#cssmenu .submenu-button.submenu-opened {
		background:#0D47A1
	}
	#cssmenu ul ul .submenu-button {
		height:34px;
		width:34px
	}
	#cssmenu .submenu-button:after {
		position:absolute;
		top:22px;
		right:19px;
		width:8px;
		height:2px;
		display:block;
		background:#ddd;
		content:''
	}
	#cssmenu ul ul .submenu-button:after {
		top:15px;
		right:13px
	}
	#cssmenu .submenu-button.submenu-opened:after {
		background:#fff
	}
	#cssmenu .submenu-button:before {
		position:absolute;
		top:19px;
		right:22px;
		display:block;
		width:2px;
		height:8px;
		background:#ddd;
		content:''
	}
	#cssmenu ul ul .submenu-button:before {
		top:12px;
		right:16px
	}
	#cssmenu .submenu-button.submenu-opened:before {
		display:none
	}
	#cssmenu ul ul ul li.active a {
		border-left:none
	}
	#cssmenu > ul > li.has-sub > ul > li.active > a,
	#cssmenu > ul ul > li.has-sub > ul > li.active > a {
		border-top:none
	}

	.rslides_tabs a {
		font-size: 13px;
	}
	#slider-me { 
		margin-top: 20px !important;
	}
	section, footer {
		padding: 50px 16px !important; 
	}
	section#slider {
		padding: 0 !important; 
	}
	.form-top {
		display: none;
	}
	.logos {
		margin:0 auto;
		width: 220px;
		float: none !important;
		padding-bottom: 10px;
	}
	.form-hidden {
		display: block !important;
	}
	.gelombang-wave {
		display: none !important;
	}
	.gelombang-hidden {
		display: block !important;
	}
	#alumni .alumi-name, #alumni .alumi-description  {
		text-align: center;
	}
	.article {
		padding: 30px 16px !important; 
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.article .title {
		font-size: 16px !important;

	}
	#breadcrumb-inner img {
		height: 40px !important;
		margin-bottom: 5px;
		margin-top: -7px;
	}
	#breadcrumb .title {
		width: auto !important;
		vertical-align: middle;
		font-size: 16px !important;
		line-height: 40px;
		margin-bottom: -6px !important;
		margin-left: 40px !important; 
		font-size: 18px !important;
	}
}
.logos {
	float: left;
}
.form-hidden {
	width: 100%;
	display: none;
	padding: 10px;
}
.form-hidden .input {
	border: 1px solid #ffffff;
	width: 90%;
}
.form-top {
	margin-top: 9px;
	float: right;
	width: 256px;
}
#slider {
	min-height: 530px;
	position: relative;
	background: #f3f3f3;
}
.search-btn {
	background: url("../img/search.png") #1E88E5 no-repeat center;
	padding: 12px;
	height: 32px;
	border-radius: 0 2px 2px 0;
	margin-left: -4px;
	border: none;
	width: 36px;
}

section {
	padding: 90px 0 ; 
	background: #fff;
}
section#slider {
	padding-top: 0px !important;
	padding-bottom: 10px !important;
}
#slider-me { 
	margin-top: 80px;
}
#slider2 {
	box-shadow: 1px 1px 5px #cccccc;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  padding: 9px 12px;
  height: auto;
  color: #999;
  background: transparent;
  display: inline;
}

.rslides_tabs a:hover {
  	text-decoration: none;
}

.rslides_tabs li:first-child {
  margin-left: 0;
}

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #4072b8;
  border-bottom: 2px solid #4072b8;
  font-weight: bold;
}
#login-box {
	background: #ffffff;
	min-height: 360px;
	padding: 20px;
	box-shadow: 1px 1px 5px #cccccc;
}
h4 {
	margin-top: 0 !important;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
}
.label {
	font-size: 12px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-left: -5px;
	text-align: left !important;
	color: #888888 !important;
	font-weight: normal;
}
.btn {
	width: 100%;
	padding: 8px 0;
	color: #fff;
	font-weight: 500;
	border-radius: 4px;
}
.btn:hover {
	color: #fff;
}
.green {
	background: #5CD0B5;
}
.blue {
	background: #45A5FA;
}
.dark {
	background: #4588C3;
	color: #fff !important;
}
.dark .head-title {
	border-bottom: 1px solid #62A6E2 !important;
}
.gelombang-wave {
	display: block;
}
.gelombang-hidden {
	display: none;
}
.head-title {
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px;
	font-size: 25px;
}

.gel {
	background: #F3F3F3;
	display: inline-flex;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 16px;
	border:2px solid #D2D2D2;
	padding: 25px;
}
.gel-date-number {
	font-size: 32px; 
	line-height: 20px; 
	font-weight: bold;
}
.gel-date {
	border-right: 1px solid #95989A;
	padding-right: 20px;
	margin-right: 16px;
}

.gel-info-title {
	font-size: 20px;
	font-weight: 500px;
}
.gel-info-class {
	font-size: 15px;
	margin-bottom: -1px;
	font-weight: bold;
	margin-top: 2px;
	color: #777;
	font-weight: 500px;
}
.gel-info-date {
	font-size: 14px;
	color: #888;
}
.gel-inner {
	min-width: 10%;
	margin-right: 16px;
}
.flag {
	width: 60px;
	height: 65px;
	position: absolute;
	right: 30px;
	text-align: center;
	padding-top: 20px;
	color: #fff;
	top: 0;
}
.gel-open { border-color: #1E88E5; }
.gel-soon { border-color: #FFC107; }
.past {background: url("../img/top-grey.png");}
.white { color: #fff !important; }
.now {background: url("../img/top-blue.png");}
.soon {background: url("../img/top-orange.png");}
.view-all { text-align: center; margin-top: 20px; }
.view-all a { color: #888; text-decoration: none; }

#alumni figure, #achievement figure {
	min-width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	border: 2px solid #fff;
	border-radius: 4px;
	margin-bottom: 10px;
}
#alumni figure img, #achievement img {
	width: 100%;
	min-height: 200px;
	position: absolute;
}
#alumni .alumi-description {
	font-weight: 100;
	margin-bottom: 10px;
}
#alumni .alumi-name, #alumni .alumi-description  {
	margin-left: 4px;
	margin-right: 4px;
}
#alumni .alumni-list, #achievement .achievement-list {
	margin-bottom: 14px;
}

#achievement .achievement-competition, #achievement .achievement-date {
	text-align: center;
}
#achievement .achievement-date {
	font-size: 12px;
	color: #999;
}
#achievement figure { 
	border: 2px solid #ddd;
}
#achievement .achievement-view-all {
	width:80px;
	height:80px;
	margin: 0 auto; 
	margin-top: 40px;
}
#achievement .achievement-view-all img {
	width:100%;
	min-height: 10px !important;
	position: relative !important;
}
#achievement a {
	width: 100%;
	text-align: center;
	float: left;
	color: #C69F00;
	margin-top: 10px;
}
#contact {
  background: #3971A2; 
  background: -webkit-linear-gradient(-90deg, #53A4EB, #2A5276); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #53A4EB, #2A5276); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #53A4EB, #2A5276); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #53A4EB, #2A5276); /* Standard syntax */
}
#contact .logof {
	height: 60px;
	border-radius: 50%;
	width: 60px;
	margin: 0 auto;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: none;
	background: #fff;
	border: 2px solid #fff;
}
#contact .logof img {
	border-radius: 10px;
	height: 100%;
}

#contact .contact-title {
	font-size: 26px;
	text-align: center;
	color: #fff;
}
#contact .contact-low {
	font-size: 16px;
	color: #E3F2FD;
	font-weight: 100;
	text-align: center;
}
#contact-form {
	margin: 0 auto;
	color: #fff;
	max-width: 700px;
	margin-top: 50px;
}
#contact-form input, #contact-form textarea {
	border: none;
}
#contact-form .btn-submit {
	padding: 10px 60px;
	border: none;
	color: #2C598A;
	margin: 0 auto;
	margin-top: 20px;
	background: #61D5C3;
	border-radius: 4px;
	box-shadow: 0 1px 3px #12284D; 
}
footer {
	padding: 80px 0 60px 0;
	background: #F5F8FA;
	color: #47485A;
}

footer .foot {
	margin-bottom: 20px;
}

#breadcrumb {
	height: auto;
	padding: 18px 16px 0 16px;
	background: #2E99F7;
	color: #fff;
}
#breadcrumb-inner {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 18px;
	border-bottom: 2px solid #1C7CD0;
}
#breadcrumb-inner img {
	height: 60px;
	opacity: 0.9;
}
#breadcrumb .title {
	width: auto !important;
	font-size: 22px;
	font-weight: 500;
	width: auto;
	margin-top: -44px !important;
	margin-left: 60px;
	margin-bottom: 8px;
}
.article {
	max-width: 1000px;
	background: #fff;
	margin: 0 auto;
	margin-top:40px;
	margin-bottom:40px;
	padding: 40px;
	box-shadow: 0px 1px 3px #bbb;
}
.art { max-width: 920px !important; }
.article .title {
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
}
.article ul {
	margin-left: 20px;
}
.article ul li {
	list-style-type: disc;
}
.article ul li ul li {
	list-style-type: circle;
}